@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Raleway:ital,wght@0,400;0,700;1,600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.new-selected {
  color: green;
}

.my-selected:not([disabled]) {
  font-weight: bold;
  border: 2px solid currentColor;
}
.my-selected:hover:not([disabled]) {
  border-color: #e55e2c;
  color: #e55e2c;
}
.my-selected:not([disabled]) {
  border-color: #e55e2c;
  color: #ffffff;
  border-radius: 10%;
  background: #e55e2c;
}
.my-today {
  font-weight: bold;
  font-size: 140%;
  color: red;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-start-rgb))
    )
    rgb(var(--background-start-rgb));
}