
.swiper-slide {
  width: 12%;
  border-radius: 8px;
}
.swiper-slide-next {
  width: 70%;
  border-radius: 8px;
}

.slide-dev {
  border-radius: 8px;
}

@media screen and (max-width: 560px) {
  .swiper-slide {
    width: 13%;
    border-radius: 8px;
  }
  .swiper-slide-next {
    width: 70%;
    border-radius: 8px;
  }
}